strict-ssl=true
@eoc:registry=https://gitlab.welld.io/api/v4/packages/npm/
@welld:registry=https://gitlab.welld.io/api/v4/packages/npm/
@corner:registry=https://gitlab.welld.io/api/v4/packages/npm/

# see https://gitlab.com/gitlab-org/gitlab-foss/-/issues/61109
//gitlab.welld.io/api/v4/projects/:_authToken=7TEdfuAN3k6vDsSsjU-x
//gitlab.welld.io/api/v4/packages/npm/:_authToken=7TEdfuAN3k6vDsSsjU-x
